{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard Application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'survey/style.css' %}">
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="{% url 'index' %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                {% if user.experiment_group == 1 %}
                    <a href="{% url 'add_card' %}">Add Card
                    <span id="numToAddToday">{% if user.num_cards_to_add_today != 0 %}
                    	(add {{user.num_cards_to_add_today}} more cards)
                    {%endif%}</span>
                    </a>
                {% endif %}
                {% if user.experiment_group != 0 %}
                    <a href="{% url 'review_cards' %}">Review Cards
                    <span id="numToDoToday">{% if user.num_cards_to_do_today != 0 %}
                    	({{user.num_cards_to_do_today}})
                    {%endif%}</span>
                    	</a>
                {% endif %}
                {% if user.is_authenticated and user.needs_to_take_survey %}
                    <a href="{% url 'initial_survey' %}" class="alert-button">Take Survey</a>
                {% endif %}
                {% if user.is_authenticated and user.needs_to_take_initial_assessment %}
                    <a href="{% url 'get_assessment' 'true' %}" class="alert-button">Initial Assessment</a>
                {% endif %}
                {% if user.is_authenticated and user.needs_to_take_final_assessment %}
                    <a href="{% url 'get_assessment' 'false' %}" class="alert-button">Final Assessment</a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>

    <main>
        {% if messages %}
        <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
