{% extends 'base.html' %}
{% block content %}
<div class="centered-content">
<h1>Flashcard Study</h1>

<h2>What is this study?</h2>

<p>We are trying to see if we can use <a href="https://en.wikipedia.org/wiki/Large_language_model">large language models</a> (LLMs) to write flashcards to save humans the time and energy needed to write flashcards to study.</p>

<p>There are 2 groups in the study: <b>people who write their own flashcards</b> and <b>people who use LLM-generated flashcards</b> to study.</p>

<p>This study uses a <a href="https://gwern.net/spaced-repetition">spaced repitition algorithm</a>, which means that a small number of flashcards are added into the reviews every day, but the user must review the flashcards every day (or as close to that as possible) for the learning to be effective.</p>

</div>


{% endblock %}
