{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'survey/timeme.min.js' %}" /></script>
<script type="text/javascript">
    TimeMe.initialize({
        currentPageName: "create-card-page",
        idleTimeoutInSeconds: 30,
    });

    function onSubmitForm() {
        var timeSpent = TimeMe.getTimeOnCurrentPageInSeconds('create-card-page');
        document.getElementById('timeToCreate').value = timeSpent;
    }
</script>

<h2>New Card</h2>

<form method="POST" onsubmit="onSubmitForm()">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    {{ form.as_p }}
    <input type="hidden" id="timeToCreate" name="timeToCreate" />
    <button type="submit">Submit</button>
</form>
{% endblock %}
