{% extends 'base.html' %}
{% block content %}
  <h2>Register</h2>
  <form method="post">
  {% csrf_token %}
    {{ form.as_p }}
  <div id="informed-consent" style="text-align: left;">
<h1>Informed Consent Form</h1>
<b>Student Researcher(s):</b> Jacob Goldman-Wetzler
<br><b>Title of Project:</b> Using Large Language Models to Enhance Spaced Repetition Learning
<br><b>You are being asked to volunteer to participate in this science project.</b> If you would like to participate, please check in the appropriate area below.
<br><b>Purpose of the project:</b> The purpose of this study is to evaluate if Large Language Models can replace humans in creating good flashcards for use in spaced repetition learning.
<br><b>If you participate, you will be asked to:</b> Take a survey and assessment at the beginning of the study. Do online flashcards daily during the study and take an assessment at the end of the study.
<br><b>Time required for participation:</b> Take a survey at the beginning of the study (less than 1 minute). Take an assessment at the beginning and end of study (20 minutes). 5-10 minutes every day during the study. The study will last for 4 weeks for every participant. Some people may be asked to make flashcards. Some people may be asked to only take an assessment at the beginning and end of the study and not do any flashcards.
<br><b>Potential Risks of Study:</b> There are no risks associated with this study.
<br><b>Benefits:</b> The participants may learn a valuable skill of using and/or making spaced repetition flashcards and they will learn information about various subjects.
<br><b>How confidentiality will be maintained:</b> All of the data will be on a secure server. I will only analyze anonymized data from the database from the server.
<br><b>If you have any questions about this study, feel free to contact:</b>
<br><b>Adult Sponsor/QS/DS:</b> Melissa Shandroff, shandroffm@hohschools.org
<br><b>Voluntary Participation:</b> Participation in this study is completely voluntary. There will be no negative consequences if you decide not to participate, stop participating, or refuse to answer any question.
<br>
<br>
<div style="background: yellow;">
<b>By checking this box, I am giving my consent to participate in this study.</b>
<br><b>Participant Consent:</b> <input type="checkbox" required></input>
<br><b>By checking this box, I am giving my consent for my child to participate in this study.</b>
<br><b>Parental Consent:</b> <input type="checkbox" required></input>
</div>

  </div>
    <button type="submit">Register</button>
  </form>
{% endblock %}
