{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'survey/timeme.min.js' %}" /></script>
<script>
function sify(num) {
	if (num == 1) {
		return '';
	} else {
		return 's';
	}
}
const csrf_token = '{{ csrf_token }}';
let card = null;
let flipped = false;
let quality = null;
let suspend = false;
function renderCard() {
	let text;
	if (card.numToDoToday != 0) {
        	document.getElementById("numToDoToday").innerHTML = "(" + card.numToDoToday + ")";
	} else {
        	document.getElementById("numToDoToday").innerHTML = "";
	}
	if (card.id == null) {
		document.getElementById("timer-div").hidden = true;
		if (card.laterToday == null) {
			if (card.newAvail) {
                		text = "<h2>Cards Done For Today!</h2><p>Check Back Tomorrow</h2><p>There are some new cards, but you have reached the limit for new cards today, so you will see them tomorrow.</p>";
                	} else {
                		text = "<h2>Cards Done For Today!</h2><p>Check Back Tomorrow</h2>";
                	}
                	document.getElementById("flip-button").hidden = true;
                	document.getElementById("good-button").hidden = true;
                	document.getElementById("again-button").hidden = true;
        	} else {
			text = `<h2>Cards Done For Now</h2><p>${card.laterToday.amount} card${sify(card.laterToday.amount)} left today.</p><p>Check back in ${card.laterToday.earliest_min} minute${sify(card.laterToday.earliest_min)}.`;
                	document.getElementById("flip-button").hidden = true;
                	document.getElementById("good-button").hidden = true;
                	document.getElementById("again-button").hidden = true;
                        setTimeout(function() {
                            location.reload();
                        }, 30000);
        	}
	} else if (flipped) {
        	text = "" + card.front + "<hr/>" + card.back;
        	document.getElementById("flip-button").hidden = true;
        	document.getElementById("good-button").hidden = false;
        	document.getElementById("again-button").hidden = false;
					document.getElementById("suspend-button").hidden = false;
	} else {
		text = "" + card.front;
        	document.getElementById("flip-button").hidden = false;
        	document.getElementById("good-button").hidden = true;
        	document.getElementById("again-button").hidden = true;
        	document.getElementById("suspend-button").hidden = true;
	}
	document.getElementById("card").innerHTML = text;
}
function load_card() {
	fetch("/get_cards")
	.then((response) => {
	if (response.ok) {return response.json()} else {
	// TODO fix this
	};})
	.then((c) => {
		flipped = false;
		suspend = false;
        	quality = null;
        	console.log(c);
		card = c;
		TimeMe.startTimer("card-" + card.id);
		renderCard()
	});
}
function getTime() {
    const a = TimeMe.getTimeOnPageInSeconds("card-" + card.id);
    return a;
}
function submit() {
	if (quality == null) {
		console.log("tried to submit without setting quality first");
		return;
	}
	let data = new URLSearchParams();
	TimeMe.stopTimer("card-" + card.id);
	const time_for_card = getTime();
	data.append("body", JSON.stringify({id: card.id, quality: quality, time_for_card: time_for_card, suspend: suspend}));
	fetch("/submit_card", {
		method: 'post',
		body: data,
		headers: {
                    'X-CSRFToken': csrf_token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
	})
	.then((response) => response.json())
	.then((j) => {console.log(j); load_card()});
}
let isPaused = false;
function pauseTimer() {
	TimeMe.stopTimer("card-" + card.id);
	const button = document.getElementById("pause-timer");
	button.removeEventListener("click", pauseTimer);
	button.addEventListener("click", unpauseTimer);
	button.src = "{% static 'survey/play-button.svg' %}";
	isPaused = true;
}
function unpauseTimer() {
	TimeMe.startTimer("card-" + card.id);
	const button = document.getElementById("pause-timer");
	button.removeEventListener("click", unpauseTimer);
	button.addEventListener("click", pauseTimer);
	button.src = "{% static 'survey/pause-button.svg' %}";
	isPaused = false;
}
TimeMe.initialize({
	currentPageName: "review-page",
	idleTimeoutInSecond: 30,
});
load_card();
function uptime() {
    const t = Math.round(getTime());
    console.log(t);
    document.getElementById("time").textContent = t;
}
setInterval(uptime, 1000);
window.onload = () => {document.getElementById("pause-timer").addEventListener("click", pauseTimer);}
TimeMe.callWhenUserReturns(unpauseTimer);
</script>
<h1>Review Cards!</h1>

<div id="card">
</div>
<button id="flip-button" onclick="flipped=true; renderCard();" hidden="true">Flip</button>
<button id="again-button" onclick="quality=1; submit()" hidden="true">Again</button>
<button id="good-button" onclick="quality=4; submit()" hidden="true">Remembered</button>

<button id="suspend-button" onclick="quality=1; suspend=true; submit();" hidden="true" style="background-color: red;">Suspend (Only Click If Card Makes No Sense)</button>

<div id="timer-div">
        <p id="time">0</p>
        <img id="pause-timer" src="{% static 'survey/pause-button.svg' %}" alt="pause button" width=40></img>
</div>
{% endblock %}
