{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'survey/timeme.min.js' %}" /></script>
<script>
function sify(num) {
	if (num == 1) {
		return '';
	} else {
		return 's';
	}
}
const csrf_token = '{{ csrf_token }}';
let card = null;
let flipped = false;
let quality = null;
function renderCard() {
	let text;
	if (card.numToDoToday != 0) {
        	document.getElementById("numToDoToday").innerHTML = "(" + card.numToDoToday + ")";
	} else {
        	document.getElementById("numToDoToday").innerHTML = "";
	}
	if (card.id == null) {
		if (card.laterToday == null) {
			if (card.newAvail) {
                		text = "<h2>Cards Done For Today!</h2><p>Check Back Tomorrow</h2><p>There are some new cards, but you have reached the limit for new cards today, so you will see them tomorrow.</p>";
                	} else {
                		text = "<h2>Cards Done For Today!</h2><p>Check Back Tomorrow</h2>";
                	}
                	document.getElementById("flip-button").hidden = true;
                	document.getElementById("good-button").hidden = true;
                	document.getElementById("again-button").hidden = true;
        	} else {
			text = `<h2>Cards Done For Now</h2><p>${card.laterToday.amount} card${sify(card.laterToday.amount)} left today.</p><p>Check back in ${card.laterToday.earliest_min} minute${sify(card.laterToday.earliest_min)}.`;
                	document.getElementById("flip-button").hidden = true;
                	document.getElementById("good-button").hidden = true;
                	document.getElementById("again-button").hidden = true;
        	}
	} else if (flipped) {
        	text = "" + card.front + "<hr/>" + card.back;
        	document.getElementById("flip-button").hidden = true;
        	document.getElementById("good-button").hidden = false;
        	document.getElementById("again-button").hidden = false;
	} else {
		text = "" + card.front;
        	document.getElementById("flip-button").hidden = false;
        	document.getElementById("good-button").hidden = true;
        	document.getElementById("again-button").hidden = true;
	}
	document.getElementById("card").innerHTML = text;
}
function load_card() {
	fetch("/get_cards")
	.then((response) => {
	if (response.ok) {return response.json()} else {
	// TODO fix this
	};})
	.then((c) => {
		flipped = false;
        	quality = null;
        	console.log(c);
		card = c;
		TimeMe.startTimer("card-" + card.id);
		renderCard()
	});
}
function submit() {
	if (quality == null) {
		console.log("tried to submit without setting quality first");
		return;
	}
	let data = new URLSearchParams();
	TimeMe.stopTimer("card-" + card.id);
	const time_for_card = TimeMe.getTimeOnPageInSeconds("card-" + card.id);
	data.append("body", JSON.stringify({id: card.id, quality: quality, time_for_card: time_for_card}));
	fetch("/submit_card", {
		method: 'post',
		body: data,
		headers: {
                    'X-CSRFToken': csrf_token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
	})
	.then((response) => response.json())
	.then((j) => {console.log(j); load_card()});
}
TimeMe.initialize({
	currentPageName: "review-page",
	idleTimeoutInSecond: 45,
});
load_card();
</script>
<h1>Review Cards!</h1>

<div id="card">
</div>
<button id="flip-button" onclick="flipped=true; renderCard();" hidden="true">Flip</button>
<button id="again-button" onclick="quality=1; submit()" hidden="true">Again</button>
<button id="good-button" onclick="quality=4; submit()" hidden="true">Remembered</button>
{% endblock %}
