/* Global */

.centered-content {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  font-size: 1em;
}

button:hover {
  opacity: 0.8;
}

/* Alerts */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.alert-danger {
  background-color: #f44336;
}

/* Forms */
form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  width: 60%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

form input[type="text"], form input[type="password"], form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Cards */
#card {
  background-color: white;
  margin: 20px auto;
  width: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 20px;
}

hr {
  border-top: 1px solid #bbb;
}

.nav-container {
  padding: 1em 0;
  background-color: #f8f9fa;
}

.nav-container a {
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 25px;
  background-color: #007bff;
  transition: background-color 0.3s ease;
}

.nav-container a:hover {
  background-color: #0056b3;
}
.alert-button {
    background-color: #dc3545 !important;  /* This sets the color to red */
}
.errorlist {
    color: red;
}

.alert-button:hover {
    background-color: #c82333 !important;  /* This sets the hover color to a darker red */
}
.messages {
      list-style-type: none;
        padding: 0;
          margin: 20px auto;
            width: 50%;
              background-color: #ffffff;
                border-radius: 5px;
                  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
                    text-align: left;
}

.messages li {
      padding: 10px 20px;
        margin: 10px 0;
          border-bottom: 1px solid #ccc;
            color: #333;
              font-weight: bold;
}

.messages li:last-child {
      border-bottom: none;
}

.messages li.info {
      background-color: #d9edf7;
        border-color: #bce8f1;
          color: #31708f;
}

.messages li.success {
      background-color: #dff0d8;
        border-color: #d6e9c6;
          color: #3c763d;
}

.messages li.warning {
      background-color: #fcf8e3;
        border-color: #faebcc;
          color: #8a6d3b;
}

.messages li.error {
      background-color: #f2dede;
        border-color: #ebccd1;
          color: #a94442;
}

details {
    	width: 15%;
    	margin: 0 auto;
        border: 1px solid #aaa;
        border-radius: 4px;
        padding: 0.5em 0em 0;
}

summary {
        font-weight: bold;
        margin: -0.5em -0.5em 0;
        padding: 0.5em;
}

details[open] {
    	width: 30%;
        padding: 0.5em;
}

details[open] summary {
        border-bottom: 1px solid #aaa;
            margin-bottom: 0.5em;
}

ul {
    list-style-position: inside;
}
#suspend-button {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 10px;
}
/* timer */
#timer-div {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;  /* Light gray background */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  /* Slight shadow for depth */
}

#time {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#pause-timer {
    padding: 10px;
    font-size: 1em;
    background-color: white;  /* Blue background */
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

#pause-timer:hover {
    background-color: #0086d3;  /* Darker blue on hover */
}



